html{
  height: 100%;
  body{
    width: 100%;
    margin: 0;

    button{
      cursor: pointer;
    }
  }
}

.header-container{
    height: 44px;
    width: 100%;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
    .header{
      width: 1024px;
      height: 100%;
      .logo{
        width: auto;
        height: 30px;
        margin: 8px 0 0 20px;
      }

      .utils{
        float: right;
        padding: 5px 45px;
        button{
          width: 80px;
          height: 32px;
          border-radius: 16px;
          color: #ec6337;
          border: 1px solid #ec6337;
          background: 0 0;
          outline: 0;
        }
        .empty{
          border: 0;
        }
      }
    }
}