// 特卖会
.s-onsale{
	width: 1024px;
	margin: 0 auto;
	display: none;
	.s-logo{
		position: relative;
	    width: 100%;
	    height: 88px;
	    color: #ed6337;
	    font-size: 20px;
	    text-align: center;
	    line-height: 88px;
	    background-color: #fff;
	    border-bottom: 1px solid #d8d8d8;
	    &>img{
	    	position: absolute;
		    left: 10px;
		    top: 10px;
		    height: 67px;
	    }
	}

	.s-filter{
	    width: 100%;
	    height: 60px;
	    // padding: 0 46px;
	    background: #fff;
	    line-height: 60px;
	    color: #333;
    	font-size: 14px;

	    &>span{
	    	padding: 3px;
			margin-left: 50px;
	    }

	    .city-click{
			cursor: pointer;
	    }

	    .city-click:hover{
	    	color: #fff;
	    	background: #ff5502;
	    }

	    .city-clicked{
	    	color: #fff;
    		background: #ff5502;
	    }
	}

	.s-goods{
	    background: #fff;
	    margin-top: 10px;
	    padding-bottom: 20px;

	    .item{
	    	*{
	    		box-sizing: border-box;
	    	}
	    	width: 220px;
		    height: 370px;
		    border: 1px solid #d8d8d8;
		    margin-left: 30px;
		    margin-top: 20px;
		    padding: 0 8px;
		    display: inline-block;
		    color: #333;
    		font-size: 14px;
    		box-sizing: border-box;

    		&>div{
    			margin: 6px 0;
    			&>div{
    				display: inline-block;
    				font-size: 12px;
    				color: #999;
    				text-align: left;
    				width: 50%;
    			}
    			.part-company{

    			}
    			.part-address{
    				
    				width: 47%;
    				text-align: right;
    			}
    			.part-price{
    				font-size: 20px;
    				color: #ff5502;
    			}
    			.part-carriage{
					text-align: right;
    				width: 47%;
    			}
    		}

    		.part-img{
    			width: 204px;
    			height: 204px;
    		}

    		.part-id{
    			font-weight: 800;
    		}

    		.part-annotation{
    			font-size: 12px;
    			color: #666;
    		}

    		.cart-handle{
    			width: 100%;
    			cursor: pointer;
				height: 35px;
			    font-size: 14px;
			    color: #fff;
			    letter-spacing: 0;
			    background-image: linear-gradient(90deg,#e9414e,#f3a533);
			    border: 1px solid #e9414e;
    		}
	    }
	}
}

// 搜索页面
.s-search{
	min-width: 1024px;
	margin: 0 auto;
	.s-search-bg{
		position: relative;
	    width: 100%;
	    height: 88px;
	    background-color: #fff;
	    box-shadow: 0 2px 4px 0 rgba(0,0,0,.24);
	    .s-search-input{
	    	width: 1024px;
	    	margin: 0 auto;

	    	.s-search-img{
			    height: 36px;
			    display: inline-block;
			    margin: 26px 20px 0 0;
			    vertical-align: middle;
	    	}
	    	.s-input{
	    		position: relative;
			    width: 600px;
			    height: 40px;
			    display: inline-block;
			    margin: 26px 0 0 0;
			    vertical-align: middle;
			    .s-input-input{
		    	    width: 472px;
				    padding-left: 8px;
				    border: 1px solid #ed6337;
				    color: #333;
				    background-color: #fff;
				    height: 38px;
				    outline: none;
			    }
			    .s-input-btn{
			    	position: relative;
				    width: 118px;
				    background-color: #ec6337;
				    color: #fff;
				    height: 40px;
				    float: right;
				    outline: none;
				    border: 1px solid #ec6337;
				    font-size: 14px;
			    }
	    	}
	    }
	}
	.s-search-result{
		margin: 0 auto;
		width: 1024px;
		min-height: 368px;
		background: url(/static/img/theme/standby_yhc.png) center center / 200px no-repeat;
		
		.s-search-without{
			display: none;
			width: 100%;
		    min-height: 368px;
		    background-color: #fff;
		    text-align: center;
    		line-height: 300px;

		    .s-search-without-img{
				width: 40px;
			    height: 40px;
			    background: url("/static/img/spirit.png") 0 -280px/40px no-repeat;
			    background-size: 100%;
			    display: inline-block;
			    align-items: center;
			    vertical-align: middle;
		    }
		    .s-search-without-remind{
				font-size: 16px;
    			color: #9b9b9b;
		    }
		}
		.s-search-ul{
		    min-height: 400px;
			background-color: #fff;
			display: none;

			.s-search-ul-lifirst,.s-search-ul-li{
				width: 100%;
    			height: 40px;
				
				&>div{
					display: inline-block;
				    height: 40px;
				    line-height: 40px;
				    text-align: left;
				    float: left;
				    font-size: 14px;
    				color: #333;
				}
				&>div:nth-child(1){
					width: 5%;
				}
				&>div:nth-child(2){
					width: 25%;
				}
				&>div:nth-child(3){
					width: 70%;
				}
			}
			.s-search-ul-lifirst{
				background-color: #e6e6e6;
			}
			.s-search-ul-li{
				background-color: #f5f5f5;
				cursor: pointer;
				
				&>div:nth-child(2){
					color: #4990e2;
				}
			}
		}
		.s-search-detail{
			display: none;
			min-height: 400px;
    		background-color: #fff;
			.s-search-detail-head{
				width: 100%;
			    height: 40px;
			    text-align: center;
			    border: 0 solid #efefef;
			    box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);

				.s-backBtn{
					width: 52px;
				    height: 24px;
				    margin-left: 8px;
				    border: 1px solid #cac9ca;
				    box-shadow: 0 0 0 0 rgba(0,0,0,.3);
				    // background: #f9f9f9 url(/static/img/spirit.png) 4px -88px/40px no-repeat;
				    cursor: pointer;
				    display: inline-block;
				    float: left;
					margin-top: 8px;
				}
				.s-head-filter{
				    box-sizing: border-box;
				    height: 100%;
				    margin: 0 10px;
				    border-bottom: 2px solid #fff;
				    cursor: pointer;
				    font-size: 14px;
				    display: inline-block;
    				color: #ec6337;
				    line-height: 40px;
				}
				.filted{
					border-bottom: 2px solid #ec6337;
				}
			}
			.s-search-detail-goods{
				font-size: 14px;
				margin-top: 10px;

				.s-search-detail-goods-title{
					.goods-title-pid{
						margin: 20px 0 10px 0;
						&>span{
							font-size: 16px;
    						margin: 0 20px 20px 0;
						}
					}
					.goods-title-brand,.goods-titls-city{
						margin: 0 0 10px 0;
						&>span{
							font-size: 14px;
    						margin: 10px 20px 0 0;
						}
						&>span:nth-child(1){
							color: #9b9b9b;
						}
					}
				}

				.s-search-detail-goods-lifirst{
				    width: 100%;
				    min-height: 40px;
				    border-bottom: 1px solid #d8d8d8;
				    background-color: #f5f5f5;
				    &>div{
				    	display: inline-block;
				    	width: 10%;
				    	line-height: 40px;
						text-align: center;
				    }
				    &>div:nth-child(1){
						width: 20%;
			    	}
			    	&>div:nth-child(2){
			    		width: 15%;
			    	}
			    	&>div:nth-child(4){
			    		width: 15%;
			    	}
				}
				.s-search-detail-goods-li{
				    .goods-li-child{
				    	overflow: hidden;
				    	width: 100%;
					    min-height: 40px;
					    border-bottom: 1px solid #d8d8d8;
				    	&>div{
				    		display: inline-block;
						    min-height: 40px;
						    word-wrap: break-word;
						    float: left;
						    text-align: center;
						    width: 10%;
						    padding-top: 15px;
						    border-right: 1px solid #d8d8d8;
						    &>span{
						    	line-height: auto;
						    }
				    	}
				    	&>div:nth-child(1){
							width: 19%;
							border-left: 1px solid #d8d8d8;
				    	}
				    	&>div:nth-child(2){
				    		width: 15%;
				    	}
				    	&>div:nth-child(4){
				    		width: 15%;
				    	}

				    }
				}
			}
			.s-search-detail-detail{
				display: none;
				.s-search-detail-detail-libasis:nth-child(1){
					margin: 20px 0 0;
					&>div{
						font-size: 16px;
					}
				}
				.s-search-detail-detail-libasis:nth-child(n+2){
					width: 100%;
				    border-bottom: 1px dashed #d8d8d8;
					&>div{
						display: inline-block;
						height: 40px;
						line-height: 40px;
					}
					&>div:nth-child(1){
						width: 100px;
					    padding: 0 8px;
					    color: #999;
					    font-size: 12px;
					}
					&>div:nth-child(2){
						font-size: 14px;
    					color: #333;
					}
				}
				.s-search-detail-detail-ul{
					.s-search-detail-detail-li{
						width: 100%;
					    min-height: 40px;
					    overflow: hidden;
					    
					    &>div{
					    	display: inline-block;
					    	float: left;
					    	padding: 20px 0 0 0;
					    }
					    &>div:nth-child(1){
					    	width: 5%;
					    }
					    &>div:nth-child(2){
					    	width: 35%;
					    }
					    &>div:nth-child(3){
					    	width: 10%;
					    }
					    &>div:nth-child(4){
					    	width: 20%;
					    }
					    &>div:nth-child(5){
					    	width: 30%;
					    }
					}
					.s-search-detail-detail-li:nth-child(1){
					    background: #f2f2f2;
					    line-height: 40px;
					    border: 1px solid #d8d8d8;
					    border-bottom: none;
					    line-height: 40px;
					    text-align: center;
					    &>div{
					    	display: inline-block;
					    	float: left;
					    	padding: 0;
					    }
					}
					.s-search-detail-detail-li:nth-child(n+2){
						&:hover{
							cursor: pointer;
							margin-bottom: 2px;
						    margin-left: 4px;
						    width: 99%;
						    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
						}
					}

				}
			}
		}
	}
}

// 购物车
.s-shopcar{
	display: none;
	.shop-car{
		display: none;
		.shop-title{
			width: 100%;
		    height: 60px;
		    font-size: 20px;
		    color: #ec6337;
		    background-color: #fff;
		    box-shadow: 0 2px 4px 0 rgba(0,0,0,.24);
		    text-align: center;
		    line-height: 60px;
		}
		.shop-content{
			width: 1024px;
	    	// height: 600px;
	    	height: e('calc(100vh - 160px)');
	    	margin: 0 auto;
	    	background: url(/static/img/p_shop.png) center center / 200px no-repeat;
	    	.shop-head{
	    		width: 100%;
	    		height: 32px;

	    		&>div{
				    display: inline-block;
				    float: left;
				    width: 80px;
				    text-align: center;
				    color: #333;
				    font-size: 14px;
				    height: 32px;
				    line-height: 32px;
				    background-color: #f8f8f8;
	    		}
	    		.shop-li-span:nth-child(1){
					width: 110px;
					color: #ec6337;
	    		}
	    		.shop-li-span:nth-child(2){
					width: 214px;
	    		}
	    		.shop-li-span:nth-child(3){
					width: 230px;
	    		}
	    		.shop-li-span:nth-child(4){
					
	    		}
	    		.shop-li-span:nth-child(5){
					width: 240px;
	    		}
	    		.shop-li-span:nth-child(6){

	    		}
	    		.shop-li-span:nth-child(7){
					width: 70px;
	    		}
	    	}
	    	.shop-ul{
	    		.shop-li-head{
	    			height: 40px;
				    padding-left: 30px;
				    border-top: 1px solid #d8d8d8;
				    font-size: 14px;
				    line-height: 40px;
				    color: #ec6337;
	    		}
	    		.shop-li{
	    			width: 100%;
				    height: 40px;
				    background-color: #fff;
				    border-top: 1px solid #d8d8d8;
				    line-height: 40px;

	    			.shop-li-span{
	    				width: 80px;
	    				display: inline-block;
	    				color: #333;
					    font-size: 14px;
					    text-align: center;
					    vertical-align: bottom;
	    			}

	    			.shop-li-span:nth-child(1){
						width: 80px;
	    				padding-left: 30px;
	    				text-align: start;
		    		}
		    		.shop-li-span:nth-child(2){
						width: 214px;
						
		    		}
		    		.shop-li-span:nth-child(3){
						width: 230px;
						
		    		}
		    		.shop-li-span:nth-child(4){
						
		    		}
		    		.shop-li-span:nth-child(5){
						width: 240px;

						.btn-reduce,.btn-add{
							width: 40px;
						    height: auto;
						    background: #f5f7fa;
						    color: #5a5e66;
						    cursor: pointer;
						    font-size: 13px;
						    display: inline-block;
						    border: 1px solid #d8dce5;
						    border-bottom: none;
						    border-top: none;
						}

						input{
							height: 40px;
						    outline: none;
						    border: none;
						    text-align: center;
						}
		    		}
		    		.shop-li-span:nth-child(6){

		    		}
		    		.shop-li-span:nth-child(7){
						width: 70px;
						color: #ec6337;
	    				cursor: pointer;
		    		}
	    		}
	    	}
		}
		.shop-filter{
			width: 100%;
			background-color: #fff;
			height: 60px;
			border-top: 1px solid #d8d8d8;
			.shop-filter-ul{
				height: 60px;
			    width: 1024px;
			    margin: 0 auto;

			    &>div{
			    	display: inline-block;
			    }

			    .shop-filter-left{
			    	color: #ec6337;
				    cursor: pointer;
				    padding-left: 30px;
				    width: e('calc(50% - 30px)');
					.shop-filter-li{
					    height: 40px;
					    font-size: 14px;
					    display: inline-block;
					}
			    }
			    .shop-filter-rifht{
			    	width: 49%;
			    	text-align: right;
					.shop-filter-li{
					    height: 40px;
					    font-size: 14px;
					    display: inline-block;

					    .shop-filter-account,.shop-filter-accountprice{
							margin: 0 4px;
	    					color: #ec6337;
					    }
					    .shop-filter-btn{
					    	width: 110px;
						    padding: 10px 20px;
						    color: #fff;
						    background-color: #ec6337;
						    border-color: #ec6337;
						    outline: none;
					    }
					}
			    }
			}
		}
	}
	
	.shop-order{
		width: 1024px;
		margin: 0 auto;
		.shop-order-address{
			min-height: 60px;
			margin-bottom: 10px;
			background-color: #fff;

			.shop-order-title{
				&>div{
					display: inline-block;
				}
				&>div:nth-child(1){
					color: #999;
				    font-size: 14px;
				    margin: 10px 20px 0 10px;
				}
				.shop-order-addbtn{
					font-size: 12px;
				    color: #ec6337;
				    cursor: pointer;
				}
			}
			.shop-order-addresslist{
				width: 800px;
			    font-size: 18px;
			    border: 1px solid #d8d8d8;
			    margin: 0 auto;
			}
		}
		.shop-order-list{
			.shop-order-ul{
				background-color: white;
				.shop-order-ul-color{
					height: 40px;
				    font-size: 12px;
				    color: #666;
				    background-color: #ffe9e2;
				}
				.shop-order-ul-li{
					width: 1004px;
				    margin: 10px;
				    border: 1px solid #d8d8d8;

					&>div{
						display:inline-block;
						width: 100%;
					}
					.shop-order-li-head{
						height: 32px;
    					background-color: #d8d8d8;

    					&>div{
    						display: inline-block;
    						width: 80px;
    						line-height: 32px;
    						color: #333;
    						font-size: 12px;
    						text-align: center;
    					}
    					&>div:nth-child(0){
    						width: 180px;
    					}
    					&>div:nth-child(1){
    						width: 212px;
    					}
    					&>div:nth-child(2){
    						width: 230px;
    					}
    					&>div:nth-child(3){}
    					&>div:nth-child(4){
    						width: 220px;
    					}
					}

					.shop-order-li-list{
						&>div{
    						display: inline-block;
    					}
    					&>div{
    						display: inline-block;
    						width: 80px;
    						min-height: 40px;
    						color: #333;
    						font-size: 12px;
    						text-align: center;
    					}
    					&>div:nth-child(0){
    						width: 180px;
    					}
    					&>div:nth-child(1){
    						width: 212px;
    					}
    					&>div:nth-child(2){
    						width: 230px;
    					}
    					&>div:nth-child(3){}
    					&>div:nth-child(4){
    						width: 220px;
    					}
					}
				}
			}
		}

	}

}
// 已买
.s-havgoods{
	display: none;
	.goods-bg{
		background-color: #fff;
	    box-shadow: 0 2px 4px 0 rgba(0,0,0,.24);
	    position: relative;
	    width: 100%;
	    .goods-title{
	    	height: 60px;
		    width: 1024px;
		    margin: 0 auto;
		    line-height: 60px;
		    font-size: 20px;
		    color: #ec6337;
	    }
	}
	.goods-content{
		height: 600px;
		width: 1024px;
		margin: 0 auto;
		.goods-left{
			width: 200px;
		}
		.goods-right{
			height: 100%;
			width: 804px;
    		background: url(/static/img/p_order.png) center center / 150px no-repeat;
		}
	}
}
// 我的萤火虫

.s-mycenter{
	display: none;
}